{% extends 'base.html.twig' %}
{% block body %}
    <h1>Nos Livres</h1>
    <table class="table">
        <tr>
        <th>Titre</th>
        <th>Prix</th>
        <th>Editeur</th>
        <th>Date Edition</th>
            <th>Catégorie</th>
        <th colspan="2">Action</th>
        </tr>
    {% for livre in livres  %}
      <tr>
        <td>{{ livre.libelle}}</td>
       <td>{{ livre.prix}}</td>
        <td>{{ livre.editeur}}</td>
       <td>{{ livre.dateEdition|date('d-m-Y')}}</td>
          <td>{{ livre.categorie.libelle }}</td>
          <td><a href="{{ path('app_livres_find_id',{'id':livre.id}) }}">voir détail... </a></td>
          <td><a href="{{ path('app_livres_delete_id',{'id':livre.id}) }}">Supprimer </a></td>
      </tr>

    {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(livres) }}
    </div>
{% endblock %}
